@charset "UTF-8";

body {
  font-family: Noto San JP, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  img {
    object-fit: contain;
  }
}

.container {
  width:90%;
  margin: 0 auto;
}

.heading, .heading_text {
  text-align: center;
  color: #AD7F52;
}

.heading {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 26px;
  }
}

.heading_text {
  font-size: 22px;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .heading_text {
    font-size: 14px;
    margin-bottom: 2.5rem;
  }
}

img {
  object-fit: cover;
}

p {
  color: #666666;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.75;
}

#salutation, #problem, #about, #design, #flowchart, #expalanation, #casephoto, #policy, #qa, #flow, #price, #contact, #access {
  padding: 4rem 0;
}


/* ヘッダー */
header {
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
  color: #AD7F52;
  /* padding: 0.5rem 0 0.25rem 2rem; */
  display: flex;
  position: fixed;
  z-index:900;
}

@media screen and (max-width: 768px) {
  header {
    height: 4rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 4rem;
    padding: 0 0 0 0.5rem;
    font-size: 4vw;
  }
}

header img {
  max-width: 14%;
  display: inline-block;
}

.clinicname {
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  .clinicname {
    font-size: 1.2rem;
  }
}

.header_container, .header_namecontainer, .header_button {
  display: flex;
  align-items: center;
}

.header_container {
  width: 100%;
  justify-content: space-between;
}

.header_namecontainer {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .header_namecontainer {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .header_namecontainer {
    width: 90%;
  }
}

.header_button {
  max-width: 30rem;
  justify-content: space-around;
}

.header_botton_content {
  margin: 0 0.5rem;
  padding: 0.5rem 2.5rem;
  background-color: #D5C3AA;
  color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .header_botton_content {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .header_botton_content {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header_botton_content {
    display: none;
  }
}

header h1 {
  margin: 0;
}

.header-wrap__nav {
  margin-right: 130px;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ヘッダー　ハンバーガーメニュー */
.h-open {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  aspect-ratio:1/1;
  width: 6rem;
  height: auto;
  /* height:6rem; */
  background-color: #867666;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .h-open {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .h-open {
    width: 4rem;
    height: 4rem;
  }
}

.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 26%;
  height: 0.2rem;
  border-radius: 2px;
  background-color: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .h-open span {
    left:28%;
    height: 2.5px;
    border-radius: 2px;
  }
}

.h-open span:nth-of-type(1) {
  top: 28%;
}

.h-open span:nth-of-type(2) {
  top: 50%;
}


.h-open span:nth-of-type(3) {
  top: 72%;
}

/* @media screen and (max-width: 768px) {
  .h-open span:nth-of-type(1) {
    top: 1rem;
  }

  .h-open span:nth-of-type(2) {
    top: 2rem;
  }


  .h-open span:nth-of-type(3) {
    top: 3rem;
  }
} */

/* @media screen and (max-width: 480px) {
  .h-open span {
    left: 16px;
    height: 2.5px;
    border-radius: 2px;
  }

  .h-open span:nth-of-type(1) {
    top: 17px;
  }

  .h-open span:nth-of-type(2) {
    top: 28px;
  }


  .h-open span:nth-of-type(3) {
    top: 39px;
  }
} */

.h-open.active span:nth-of-type(1) {
  left: 24px; 
  top: 40px;
  left: 24px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  /* top: 60px;
  left: 24px; */
  top: 52px;
  left: 24px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

@media screen and (max-width: 768px) {
  .h-open.active span:nth-of-type(1) {
    top: 40%;
    left: 27.5%;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
  }

  .h-open.active span:nth-of-type(3) {
    top: 58%;
    left: 27.5%;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
  }
}

/* @media screen and (max-width: 768px) {
  .h-open.active span:nth-of-type(1) {
    left: 24%;
  }

  .h-open.active span:nth-of-type(3) {
    left: 24%;
  }
} */



#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.6s;
}

#h-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* overflow-y: auto; */
  /* height: 100%; */
}

#h-nav li {
  position: relative;
  border-bottom: solid 1.5px #867666;
  margin: 10% 0;
}

#h-nav li::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 3.75px;
  background-color: #867666;
}

#h-nav li a {
  color: #333;
  display: block;
  font-size: clamp(0.9rem, 0.773rem + 0.64vw, 1.25rem);
  font-weight: 400;
  text-decoration: none;
}

#h-nav.panelactive {
  right: 0;
}


/* fv */
#fv {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-image: url(../img/fv-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 6rem;
  ;
}

@media screen and (max-width: 480px) {
  #fv {
    background-image: url(../img/fv-1-sp.png);
  }
}

#fv .container {
  padding: 2.5rem 0;
}

@media screen and (max-width: 480px) {
  #fv .container {
    padding: 4rem 0;
  }
}

#fv h1, h2, p {
  text-align: left;
}

#fv h2 {
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  #fv h2 {
    font-size: 20px;
  }
}

#fv h2 span {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  #fv h2 span {
    font-size: 44px;
  }
}

@media screen and (max-width: 480px) {
  #fv h2 span {
    font-size: 36px;
  }
}

#fv h1 {
  max-width: 20rem;
  margin: 2.5rem 0;
  padding: 1rem;
  text-align: center;
  background-color: #867666;
  border-radius: 50px;
  font-size: 34px;
}

@media screen and (max-width: 768px) {
  #fv h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  #fv h1 {
    font-size: 26px;
    padding: 0.75rem;
  }
}

#fv p {
  max-width: 32rem;
  text-align: left;
  font-size: 20px;
  line-height: 40px;
  left: 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #fv p {
    font-size: 22px;
    line-height: 36px;
  }
}

@media screen and (max-width: 480px) {
  #fv p {
    font-size: 20px;
  }
}


/* 院長挨拶 */
#salutation .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  #salutation .container {
    display: block;
  }

  #salutation img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .salutation_textbox {
    max-width: 100%;
  }
}

#salutation img, #salutation .salutation_textbox {
  width: 48%;
}

@media screen and (max-width: 480px) {
#salutation img, #salutation .salutation_textbox {
  width: 100%;
}
}

.salutation_textbox {
  margin: auto;
}

#salutation h2 {
  color: #867666;
  font-size: 34px;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  #salutation h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  #salutation h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.salutation_textbox_text {
  margin-bottom: 1.5rem;
}

.salutation_name {
  text-align: right;
}


/* でも、自分で眉を描くと… */
#problem .container {
  background-color: #7E7364;
  color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-sizing: border-box;
}

#problem h2 {
  font-size: 34px;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  #problem h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  #problem h2 {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }
}

.problem_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .problem_box {
    font-size: 16px;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .problem_box {
    font-size: 12px;
  }
}

#problem ul{
  width:50%;
}

  @media screen and (max-width: 768px) {
#problem ul{
  width:100%;
}
}

#problem ul li {
  margin-top: 1.25rem;
}

#problem img {
    width:50%;
    border-radius: 20px;
  }

  @media screen and (max-width: 1024px) {
  #problem img {
    width: 50%;
    display: block;
    margin: 2rem auto 0 auto;
    object-fit: cover;
  }
}

  @media screen and (max-width: 768px) {
  #problem img {
    width: 100%;
  }
}



/* About 当クリニックの眉アートメイクについて */
#about {
  background-color: #EAE2D6;
}

#about h4 {
  text-align: center;
  color: #867666;
  font-size: 26px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  #about h4 {
    font-size: 22px;
  }
}

.about_box {
  border: solid 1.75px #867666;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.about_box_outline {
  display: flex;
}

.about_box_outline p {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #867666;
  text-align: center;
  margin-left: 1rem;
  font-size: 26px;
  color: #fff;
  line-height: 1.2;
  font-weight: bold;
  flex-shrink: 0;
}

.about_box_outline span {
  font-size: 14px;
  font-weight: bold;
}

.about_box_outline h6 {
  margin: auto 0 auto 1rem;
  color: #867666;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .about_box_outline h6 {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .about_box_outline h6 {
    font-size: 20px;
  }
}

.about_box_inner {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .about_box_inner {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .about_box_inner {
    display: block;
  }
}

.about_box_inner p {
  padding: 0 1.25rem;
  margin: auto;
  line-height: 2.0;
}

@media screen and (max-width: 480px) {
  .about_box_inner p {
    padding: 0;
    line-height: 2;
  }
}

.about_box_inner img {
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about_box_inner img {
    display: block;
    margin: 0.5rem auto 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about_box_inner img {
    width: 40%;
    display: block;
    margin: 0.5rem auto 1rem;
  }

  .about_box_inner_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .about_box_inner_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}


/* Design 選べるデザイン */
#design {
  text-align: center;
  background-color: #EAE2D6;
  padding-top: 0;
}

#design ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

#design li {
  max-width: 90%;
}

#design li:first-of-type {
  margin-bottom: 3rem;
}

#design li a {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 8rem;
  overflow: hidden;
  margin: 0 auto;
}

#design li a img {
  max-width: 6rem;
  max-height: 6rem;
  object-fit: cover;
  vertical-align: middle;
}

#design li h4 {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  color: #AD7F52;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  #design li h4 {
    font-size: 22px;
  }
}

#design li p {
  text-align: left;
}

.design_comment {
  display: inline-block;
  margin: 3rem auto 0 auto;
  background-color: #fff;
  padding: 1rem;
}


/* Flowchart お悩み別おすすめ施術 */
#flowchart {
  width: 100%;
  text-align: center;
  background-color: #EAE2D6;
}

#flowchart .flowchart_recommendation {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: flex-start;
}

#flowchart .flowchart_recommendation li {
  width:30%;
  padding: 0.5rem 0;
  background-color: #fff;
  border: solid 1.75px #867666;
  text-align: center;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
#flowchart .flowchart_recommendation li {
  font-size: 0.8rem;
}
}

@media screen and (max-width: 768px) {
#flowchart .flowchart_recommendation li {
  font-size: 0.5rem;
}
}


.flowchart_comment {
  text-align: center;
}

.flowchart_box {
  max-width: 800px;
  margin: 2.5rem auto 6rem auto;
}

@media screen and (max-width: 768px) {
  .flowchart_box {
    width: 100%;
    margin: 1.5rem auto 4rem auto;
  }
}

.flowchart_box_inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .flowchart_box_inner {
    display: block;
  }
}

.flowchart_box_inner img {
  width:40%;
  object-fit: contain;
}

@media screen and (max-width: 480px) {
  .flowchart_box_inner img {
    width: 100%;
    object-fit: cover;
  }
}

.flowchart_box_inner_text {
  width: 55%;
  text-align: left;
  margin: auto 0;
}

@media screen and (max-width: 480px) {
  .flowchart_box_inner_text {
    width: 100%;
    margin: 0 auto;
  }
}

.flowchart_box_inner_text li {
  line-height: 1.8;
}

.flowchart_box_inner_text_caution {
  margin-top: 1rem;
}

#flowchart h4 {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  color: #fff;
  background-color: #E1B80D;
  border-radius: 10px;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  #flowchart h4 {
    font-size: 16px;
  }
}

.flowchart_menu {
  margin-top: 4rem;
}

.flowchart_menu_box {
  border: solid 1.75px #867666;
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.flowchart_menu_box h3 {
  color: #AD7F52;
}

.flowchart_menu_box_mainimg {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .flowchart_menu_box_mainimg {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .flowchart_menu_box_subimg {
    width: 90%;
  }
}

.flowchart_menu_box p {
  width: 60%;
  text-align: left;
  margin: 0.5rem auto;
}

@media screen and (max-width: 768px) {
  .flowchart_menu_box p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .flowchart_menu_box p {
    text-align: left;
  }
}

.flowchart_menu_box ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .flowchart_menu_box ul {
    width: 80%;
  }
}

.flowchart_menu_box ul li {
  flex: 1;
}

.flowchart_menu_box_subimg {
  width: 100%;
  height: 12rem;
  display: block;
  object-fit: cover;
}

.tbsp-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .tbsp-only {
    display: block
  }
}



/* アートメイクの説明 */
#expalanation {
  background-color: #EAE2D6;
  padding-top: 0;
}

.expalanation_sub {
  width: 100%;
}

#expalanation figure {
  /* width:50%; */
  float: right;
}

@media screen and (max-width: 480px) {
  #expalanation figure {
    width: 50%;
  }
}

#expalanation figure img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  #expalanation figure img {
    max-width: 40%;
    text-align: center;
  }
}

#expalanation h3 {
  color: #AD7F52;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 768px) {
  #expalanation h3 {
    font-size: 20px;
  }
}

#expalanation .expalanation_sub h3:nth-of-type(2) {
  margin-top: 2rem;
}

#expalanation p {
  display: block;
  line-height: 1.8;
}


/* Case Photo 実際の症例写真 */
#casephoto {
  text-align: center;
  background-color: #fff;
}

.casephoto_box {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.casephoto_item {
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .casephoto_item {
    width: 80%;
    margin: 0 auto;
  }

  .casephoto_box {
    display: block;
  }
}

.casephoto_box_before {
  margin-bottom: 1rem;
}

.casephoto_box_before, .casephoto_box_after {
  width: 48%;
  background-color: #fff;
  margin: 0 0 2rem 0;
  box-sizing: border-box;
  line-height: 0.75;
}

@media screen and (max-width: 768px) {
  .casephoto_box_before, .casephoto_box_after {
    width: 42%;
  }
}

@media screen and (max-width: 480px) {
  .casephoto_box_before, .casephoto_box_after {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
}

.casephoto_box_before img, .casephoto_box_after img {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  object-fit: cover;
}

.casephoto_box_before p, .casephoto_box_after p {
  height: 2.5rem;
  text-align: center;
  border: solid 1.75px #867666;
  background-color: #fff;
  margin: auto;
  padding: 0.75rem;
  box-sizing: border-box;
}

.casephoto_box_after p {
  background-color: #AD7F52;
  color: #fff;
}

.casephoto_button {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem 5rem;
  text-align: center;
  background-color: #867666;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .casephoto_button {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .casephoto_button {
    padding: 1rem 2.5rem;
    font-size: 20px;
  }
}


/* Policy  ○○○美容クリニックの３つのこだわり */
#policy {
  background-color: #F7F7F7;
}

.policy_box {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .policy_box {
    display: block;
  }
}

/* .policy_box:nth-of-type(2){
flex-direction: row-reverse;
} */


#policy h4 {
  font-size: 24px;
  margin-bottom: 0.75rem;
  color: #867666;
}

@media screen and (max-width: 768px) {
  #policy h4 {
    font-size: 18px;
  }
}

.policy_box_textblock {
  margin: auto 0;
  padding: 0 1rem;
}

#policy img {
  border-radius: 10px;
  ;
}

@media screen and (max-width: 768px) {
  #policy img {
    display: block;
    margin: 1rem auto auto auto;
  }

  #policy .policy_box_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  #policy .policy_box_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}



/* Q&A  アートメイクの不安にお答えします */
#qa {
  background-color: #fff;
  font-size: 1.2rem;
}

#qa label {
  color: #fff;
}

.toggle {
  display: none;
}

.Label {
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0.5rem;
  display: block;
  background: #D5C3AA;
  text-align: left;
  align-items: center;
  padding: 0.5rem 2rem;
  border: solid 1.5px #867666;
}

@media screen and (max-width: 768px) {
  .Label {
    height: 2rem;
    line-height: 2rem;
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}

.Label::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 0.75rem);
  right: 4%;
  transform: rotate(135deg);
}

.Label,
.content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.3s;
}

.content {
  height: 0;
  margin-bottom: 1rem;
  /* padding: 0 1rem; */
  overflow: hidden;
  border: solid 1.5px #867666;
}

.content p {
  text-align: left;
  padding: 0 1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .content p {
  font-size: 0.75rem;
  }
}

.toggle:checked+.Label+.content {
  height: auto;
  padding:1rem 0;
  transition: all .3s;
}

.toggle:checked+.Label::before {
  transform: rotate(-45deg) !important;
}



/* Flow　施術の流れ */
#flow {
  background-color: #EAE2D6;
}

.flow_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background: #fff;
  text-align: left;
  padding: 2rem;
  border: solid 1.5px #867666;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
.flow_box {
  padding: 1.2rem;
}
}

.flow_box_step {
  width: 10%;
  display: block;
  margin: auto;
  /* text-align: center; */
  justify-content: center;
  color: #36454F;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .flow_box_step {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .flow_box_textblock {
    font-size: 14px;
  }
}


.flow_box_step p {
  text-align: center;
}

.flow_box_step span {
  font-size: 2rem;
  font-weight: bolder;
  display: inline;
  text-align: center;
}

@media screen and (max-width: 768px) {
.flow_box_step span {
  font-size: 1.5rem;
}
}


.flow_box_textblock {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .flow_box_textblock {
    width: 75%;
  }
}

.flow_box_textblock h6 {
  color: #867666;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .flow_box_textblock h6 {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .flow_box_textblock h6 {
    font-size: 18px;
  }
}


/* Price  料金表 */
#price {
  background-color: #fff;
  /* font-size: 2rem; */
}

  /* @media screen and (max-width: 1024px) {
#price {
  font-size: 0.75rem;
}
}

@media screen and (max-width: 480px) {
  #price {
      font-size: 0.6rem;
  }
} */

#price h4 {
  text-align: center;
  margin-bottom: 1rem;
}

#price th, td {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 480px) {
#price th, td {
  padding:0.5rem;
}
}

#price table {
  width: 100%;
  margin: 0 auto 2rem auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px #867666;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
#price table {
  font-size: 0.95rem;
}
}

@media screen and (max-width: 480px) {
#price table {
  font-size: 0.75rem;
}
}

@media screen and (max-width: 768px) {
  #price table:last-of-type {
    margin: 0 auto 0.25rem auto;
  }
}

.pricelist-1 {
  border: solid 1px #867666;
}

.pricelist-1_price {
  width:50%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pricelist-1_price {
    width: 50%;
  }
}

.pricelist-2, .listappear {
  border-bottom: solid 1px #867666;
}

.pricelist-2_item {
  background-color: rgba(102, 102, 102, 0.1);
  color: #867666
}

.price_attention {
  width: 100%;
  margin: 0 auto;
}

/* @media screen and (max-width: 768px) {
  .price_attention {
    font-size: 14px;
  }
} */

.price_attention h7,price_attention_space h7 {
  font-size: 0.8rem;
  font-weight: bolder;
}

.price_attention_space {
  display: block;
  margin-top: 1.5rem;
}

#price p{
    font-size: 0.7rem;
}


/* 問い合わせ */
#contact {
  background-color: #F7F7F7;
}

#contact .container {
  width: 50%;
  /* width: 90%; */
  /* display: flex;
  justify-content: space-between; */
  display: block;
}

@media screen and (max-width: 768px) {
#contact .container {
  width: 100%;
}
}

@media screen and (max-width: 768px) {
#contact .container {
  width: 50%;
  /* width: 90%; */
  /* display: flex;
  justify-content: space-between; */
  display: block;
}
}

.contact_subcontainer {
  /* width: 40%; */
  width:100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact_subcontainer {
    width: 100%;
    text-align: center;
  }
}

.contact_subcontainer_phonenumber {
  display: flex;
  justify-content: center;
}

#contact img {
  width: 16%;
  /* object-fit: contain; */
}

.phonenumber {
  font-size: clamp(0.875rem, 0.386rem + 2.44vw, 2.25rem);
  /* font-size: 1.75em; */
  margin: auto 1rem;
}

#contact h4 {
  margin-bottom: 0.75rem;
  /* font-size: 1.5em; */
  font-size: clamp(0.875rem, 0.431rem + 2.22vw, 2.125rem);
  text-align: center;
}

.contact_subcontainer_sub{
  display: flex;
  justify-content: space-between;
}

#contact h7 {
  width:35%;
  /* display: inline-block; */
  color: #AD7F52;
  border: #AD7F52 solid 1.5px;
  border-radius: 50px;
  margin: 0.75rem 0;
  padding: 2.5% 7.5%;
  font-size: clamp(0.875rem, 0.608rem + 1.33vw, 1.625rem);
}

@media screen and (max-width: 1024px) {
  #contact h7 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  #contact h7 {
    display: inline-block;
    font-size: 0.75rem;
    margin:  0.5rem;
    padding: 0.5rem;
  }
}

#contact a {
  /* max-width: 50%; */
  width:100%;
  display: inline-block;
  text-decoration: none;
  margin: auto 0;
}

.contact_button {
  /* max-height: 3rem; */
  background-color: #E1B80D;
  margin: auto 0;
  /* padding: 1rem 2rem; */
    padding: 3% 8%;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  font-size: 1.2em;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .contact_button {
    width: 100%;
    max-height: 6rem;
    /* display: block;
    margin: 0 auto; */
  }
}

@media screen and (max-width: 768px) {
  .contact_button {
    width: 100%;
    max-height: 9rem;
  }
}

@media screen and (max-width: 480px) {
  .contact_button {
    width: 100%;
    max-height: 6rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}


/* Access  アクセス */
#access {
  background-color: #fff;
}

#access dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#access dt {
  width: 35%;
  padding: 0 0 1rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #867666;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (max-width: 1024px) {
  #access dt {
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  #access dt {
    width: 29%;
    padding: 0 0 1rem 1rem;
  }

  #access dt:first-of-type {
    width: 40%;
  }
}

#access dd {
  width: 60%;
  padding: 0 0 1rem 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #867666;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (max-width: 480px) {
  #access dd {
    width: 60%;
  }
}

#access dd:first-of-type {
  width: 60%;
}

@media screen and (max-width: 768px) {
  #access dt:first-of-type {
    width: 50%;
  }

  #access dd:first-of-type {
    width: 40%;
  }
}

/* @media screen and (max-width: 1024px) {
#access dd:first-of-type{
  width: 64%;
}
} */

.map {
  width: 80%;
  display: block;
  margin: 2rem auto 0 auto;
}

@media screen and (max-width: 480px) {
  .map {
    width: 100%;
  }
}

footer {
  background-color: #867666;
  padding: 1rem 0;
  font-size: 0.8em;
}

footer p {
  color: #fff;
  text-align: center;
}